<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/estiloListas.css' />
    <link rel='stylesheet' href='/stylesheets/estiloRegistro.css' />
    <link rel="shortcut icon" href="/images/escudo.png" type="image/x-icon">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
